/Code - OSS
/VSCodium
/qBittorrent
/vlc
/supertuxkart
/GIMP
/libreoffice
/heroic
/lutris
/menus
/GoLogin
/skypeforlinux
/kdeconnect
/btop
/QtProject
/JetBrains
/balenaEtcher
/Google
/Postman
/Nickvision Parabolic
/REAPER
/youtube-dl-gui
/btop
/cava